<div class="container">
    <div class="col-md-12">
        <div class="row justify-content-center d-flex" style="height: 80vh;">
            <div class="card mycard align-items-center shadow bg-white rounded align-self-center p-5">
                <h3>Create User</h3>
                <div *ngIf="msg" [ngClass]="{'alert-success': status, 'alert-danger': !status}"
                    class="alert  alert-dismissible fade show" role="alert">
                    <strong>{{msg}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form style="width: 400px;" [formGroup]="createGroup" (ngSubmit)="createGroup.valid && onSubmit()">
                    <div class="form-group">
                        <label for="username_id">Username</label>
                        <input type="text" class="form-control" id="username_id" placeholder="Username"
                            formControlName="userName"
                            [ngClass]="{'is-invalid': createGroup.get('userName').touched && createGroup.get('userName').invalid}">
                        <div class="invalid-feedback">
                            Username invalid!
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email_id">Email</label>
                        <input type="email" class="form-control" id="email_id" placeholder="Email"
                            formControlName="email"
                            [ngClass]="{'is-invalid': createGroup.get('email').touched && createGroup.get('email').invalid}">
                        <div class="invalid-feedback">
                            Email is invalid!
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password_id">Password</label>
                        <input type="text" class="form-control" id="password_id" placeholder="Password"
                            formControlName="password"
                            [ngClass]="{'is-invalid': createGroup.get('password').touched && createGroup.get('password').invalid}">
                        <div class="invalid-feedback">
                            Password is invalid!
                        </div>
                    </div>
                    <button class="btn btn-info mt-2" [disabled]="!createGroup.valid" type="submit">
                        Create User
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>