<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">
        <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30"
            class="d-inline-block align-top" alt="">
        Bootstrap
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li [routerLinkActive]="['active']" class="nav-item">
                <a class="nav-link" [routerLink]="['/profile']" routerLinkActive="router-link-active">Profile</a>
            </li>
            <li *ngIf="isAdmin" [routerLinkActive]="['active']" class="nav-item">
                <a class="nav-link" [routerLink]="['/employees']" routerLinkActive="router-link-active">Employees</a>
            </li>
            <li *ngIf="isAdmin" [routerLinkActive]="['active']" class="nav-item">
                <a class="nav-link" [routerLink]="['/createemployee']" routerLinkActive="router-link-active">Create
                    Employees</a>
            </li>
            <li [routerLinkActive]="['active']" class="nav-item">
                <a class="nav-link" [routerLink]="['/products']" routerLinkActive="router-link-active">Products</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span *ngIf="userDetails">
                        <img [src]="userDetails.attributes != null ? (userDetails.attributes.avatar_url != null && userDetails.attributes.avatar_url[0].length >0 ? userDetails.attributes.avatar_url: 'assets/placeholder-male.jpg'):'assets/placeholder-male.jpg'"
                            class="rounded-circle img-fluid" width="30" height="30" alt="pf_picture">
                        {{userDetails.username | titlecase }}
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/settings']"
                        routerLinkActive="router-link-active">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="doLogout()">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>