<div class="container">
    <div class="col-md-12">
        <div class="row justify-content-center d-flex" style="height: 80vh;">
            <div class="card mycard align-items-center shadow bg-white rounded align-self-center p-5">
                <h3>Update Password</h3>
                <div *ngIf="msg" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{msg}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form style="width: 400px;" [formGroup]="passwordGroup" (ngSubmit)="passwordGroup.valid && onSubmit()">
                    <div class="form-group">
                        <label for="newpassword_id">New Password</label>
                        <input type="text" class="form-control" id="newpassword_id" placeholder="New Password"
                            formControlName="newPassword"
                            [ngClass]="{'is-invalid': passwordGroup.get('newPassword').touched && passwordGroup.get('newPassword').invalid}">
                        <div class="invalid-feedback">
                            New password invalid!
                        </div>
                    </div>
                    <button class="btn btn-info mt-2" [disabled]="!passwordGroup.valid" type="submit">
                        Reset Password
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>